.containerFooter {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background: linear-gradient(black,$colorPrincipal);

    h3 {
        font-size: $footerMedida+10px ;
        justify-content: center;
        display: flex;
        color: white;
        margin-bottom: 10px;
    }

    p {
        font-size: $footerMedida;
        display: flex;
        color: white;
        margin-top: 20px;

    }


    .footerNav {
        ul {
            margin-left: -35px;

            li {
                list-style: none;
                text-align: center;

                a {
                    font-size: $footerMedida;
                    color: white;
                }
            }
        }

    }

    .footer-redes{
        ul {
            margin-left: -20px;

            li {
                list-style: none;
                text-align: center;

                a {
                    font-size: $footerMedida;
                    color: white;
                }
            }
        }
    }
}