.containerFooter {
    background-color: rgb(64, 2, 2);
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    h3 {
        font-size: 25px;
        justify-content: center;
        display: flex;
        color: white;
        margin-bottom: 10px;
    }

    p {
        font-size: $footerMedida;
        display: flex;
        color: white;
        margin-top: 20px;

    }


    .footerNav {
        ul {
            margin-left: -35px;

            li {
                list-style: none;
                text-align: center;

                a {
                    font-size: $footerMedida;
                    color: white;
                }
            }
        }

    }

    .footer-redes{
        ul {
            margin-left: -20px;

            li {
                list-style: none;
                text-align: center;

                a {
                    font-size: $footerMedida;
                    color: white;
                }
            }
        }
    }
}