/* INICIO MOBILE */
@media (min-width:320px) and (max-width:425px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .carousel {
        margin: 0;
        margin-top: -10px;
        margin-bottom: 40px;
        margin-right: 15px;

        .d-block {
            margin: 0px;
            height: auto;
            margin-left: 8px
        }
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem {
            width: 100%;

            .imagenMedidas {
                width: 70%;
                margin-left: 25px;

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }
    }


    .gridContainer2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem2 {
            width: 100%;

            .imagenMedidas2 {
                width: 70%;
                margin-left: 25px;

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }

    }

    .gridContainer3 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem3 {
            width: 100%;

            .imagenMedidas3 {
                width: 70%;
                margin-left: 25px;

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }

        }
    }

    .parrafoInicio {
        font-size: 25px;
        padding: 20px;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }
}

/* NOSOTROS MOBILE */
@media (min-width:320px) and (max-width:425px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .centrarImagen {
        img {
            display: flex;
            justify-content: center;
            width: 80%;
            height: auto;
            margin-top: 50px;
        }
    }

    .sobreNosotros {
        font-size: 25px;
        text-align: center;
    }

    .imagenTexto {
        flex-direction: column;

        .imagenAbajo {
            margin: 0;
            margin-top: 50px;
            width: 75%;
            height: auto;
            margin-left: 50px
        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* SUCURSALES MOBILE */
@media (min-width:320px) and (max-width:425px) {

    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -25px;

        .sucursalesConteiner {
            width: 95%;
            margin-top: 75px;
        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 17px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* NOVEDADES MOBILE */
@media (min-width:320px) and (max-width:425px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .container {
        margin-top: 100px;
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* CONTACTO MOBILE */
@media (min-width:320px) and (max-width:425px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .formulario {
        width: 83%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h5 {
            font-size: 20px;
            padding: 0px 10px;
        }

        .control {
            width: 100%;
        }

        .consulta {
            width: 100%;
        }
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* INICIO TABLET */
@media (min-width:426px) and (max-width: 768px) {

    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .carousel {
        margin: 0;
        margin-top: -10px;
        margin-bottom: 40px;
        margin-right: 15px;

        .d-block {
            margin: 0px;
            height: auto;
            margin-left: 8px
        }
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem {
            width: 80%;
            margin: auto;

            .imagenMedidas {
                width: 70%;
                margin-left: 25px;
                height: 240px
                
            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }
    }


    .gridContainer2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem2 {
            width: 80%;
            margin: auto;

            .imagenMedidas2 {
                width: 70%;
                margin-left: 25px;
                height: 240px

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }

    }

    .gridContainer3 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem3 {
            width: 80%;
            margin: auto;

            .imagenMedidas3 {
                width: 70%;
                margin-left: 25px;
                height: 240px

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }

        }
    }

    .parrafoInicio {
        font-size: 25px;
        padding: 20px;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }
}

/* NOSOTROS TABLET */
@media (min-width:426px) and (max-width: 768px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .centrarImagen {
        img {
            display: flex;
            justify-content: center;
            width: 70%;
            height: auto;
            margin-top: 50px;
        }
    }

    .sobreNosotros {
        font-size: 30px;
        text-align: center;
    }

    .imagenTexto {
        flex-direction: row;

        .imagenAbajo {
            margin: 30px;
            margin-top: 60px;
            width: 40%;
            height: auto;
            margin-bottom: -20px;

        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* SUCURSALES TABLET */
@media (min-width:426px) and (max-width: 768px) {

    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -25px;

        .sucursalesConteiner {
            width: 90%;
            margin-top: 75px;
        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 17px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }


}

/* NOVEDADES TABLET */
@media (min-width:426px) and (max-width: 768px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .container {
        margin-top: 100px;
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

    }
}

/* CONTACTOS TABLET */
@media (min-width:426px) and (max-width: 768px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .formulario {
        width: 83%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h5 {
            font-size: 20px;
            padding: 0px 10px;
        }

        .control {
            width: 100%;
        }

        .consulta {
            width: 100%;
        }
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* INICIO LAPTOP */
@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .carousel {
        margin: 0;
        margin-top: -10px;
        margin-bottom: 40px;
        margin-right: 15px;

        .d-block {
            margin: 0px;
            height: auto;
            margin-left: 8px
        }
    }

    .gridContainer {
        display: flex;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem {
            width: 80%;
            margin: auto;

            .imagenMedidas {
                width: 70%;
                margin-left: 25px;
                height: 165px
                
            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }
    }


    .gridContainer2 {
        display: flex;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem2 {
            width: 80%;
            margin: auto;

            .imagenMedidas2 {
                width: 70%;
                margin-left: 25px;
                height: 165px

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }
        }

    }

    .gridContainer3 {
        display: flex;
        height: auto;
        width: 100%;
        margin: 0;

        .gridItem3 {
            width: 80%;
            margin: auto;

            .imagenMedidas3 {
                width: 70%;
                margin-left: 25px;
                height: 165px

            }

            p {
                margin-top: -20px;
                padding-bottom: 10px;
            }

        }
    }

    .parrafoInicio {
        font-size: 25px;
        padding: 20px;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* NOSOTROS LAPTOP */
@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .centrarImagen {
        img {
            display: flex;
            justify-content: center;
            width: 60%;
            height: auto;
            margin-top: 50px;
        }
    }

    .sobreNosotros {
        font-size: 30px;
        text-align: center;
    }

    .imagenTexto {
        flex-direction: row;

        .imagenAbajo {
            margin: 30px;
            margin-top: 60px;
            width: 40%;
            height: auto;
            margin-bottom: -20px;

        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }

}

/* SUCURSALES LAPTOP */
@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -25px;

        .sucursalesConteiner {
            width: 60%;
            margin-top: 75px;
        }
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 17px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }


}

/* NOVEDADES LAPTOP */
@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .container {
        margin-top: 100px;
            .imagen{
                height: auto;
            }
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

    }

}

@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-left: -15px;

            li {
                list-style: none;
            }
        }
    }

    .formulario {
        width: 70%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h5 {
            font-size: 20px;
            padding: 0px 10px;
        }

        .control {
            width: 100%;
        }

        .consulta {
            width: 100%;
        }
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h3 {
            font-size: 25px;
            justify-content: center;
            display: flex;
        }

        p {
            font-size: 20px;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .footerNav ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: -10px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }

        .footer-redes ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-right: 5px;
            list-style: none;

            a {
                font-size: 20px;
            }
        }
    }
}

