body {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Menu Y Footer para todos */
.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(64, 2, 2);
  padding: 15px;
}
.navBar h1 {
  font-size: 45px;
  color: white;
}
.navBar ul li {
  display: inline-block;
  padding: 15px;
  font-size: 25px;
}
.navBar ul li a {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.containerFooter {
  background-color: rgb(64, 2, 2);
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.containerFooter h3 {
  font-size: 25px;
  justify-content: center;
  display: flex;
  color: white;
  margin-bottom: 10px;
}
.containerFooter p {
  font-size: 15px;
  display: flex;
  color: white;
  margin-top: 20px;
}
.containerFooter li {
  list-style: none;
}
.containerFooter li a {
  font-size: 15px;
  color: white;
}

/* inicio */
.carousel {
  margin: 150px 350px;
  margin-top: -10px;
}
.carousel .d-block {
  margin: 0px;
  height: 600px;
}

.gridContainer {
  display: flex;
  background-color: #FFFFFF;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 450px;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 75px;
  margin-top: -200px;
}
.gridContainer .gridItem {
  background-color: #FFFFFF;
  width: 500px;
  text-align: center;
  border: 4px solid black;
}
.gridContainer .gridItem .imagenMedidas {
  width: 350px;
  height: 220px;
  margin: 25px;
}
.gridContainer .gridItem .titulo {
  font-size: 25px;
  margin-top: 10px;
  background-color: black;
  color: #FFFFFF;
}
.gridContainer .gridItem p {
  font-size: 20px;
  width: 100%;
  margin-top: -15px;
}
.gridContainer .gridItem a {
  background: black;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
}
.gridContainer .gridItem a:hover {
  background-color: rgb(64, 2, 2);
}

.gridContainer2 {
  display: flex;
  background-color: #FFFFFF;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 550px;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 75px;
  padding: 50px 0px;
}
.gridContainer2 .gridItem2 {
  background-color: #FFFFFF;
  width: 500px;
  text-align: center;
  border: 4px solid black;
}
.gridContainer2 .gridItem2 .imagenMedidas2 {
  width: 350px;
  height: 220px;
  margin: 25px;
}
.gridContainer2 .gridItem2 .titulo2 {
  font-size: 25px;
  margin-top: 10px;
  background-color: black;
  color: #FFFFFF;
}
.gridContainer2 .gridItem2 p {
  font-size: 20px;
  width: 100%;
  margin-top: -15px;
}
.gridContainer2 .gridItem2 a {
  background: black;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
}
.gridContainer2 .gridItem2 a:hover {
  background-color: rgb(64, 2, 2);
}

.gridContainer3 {
  display: flex;
  background-color: #FFFFFF;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  height: 450px;
  justify-content: space-around;
  flex-direction: row;
  margin: 0 75px;
}
.gridContainer3 .gridItem3 {
  background-color: #FFFFFF;
  width: 500px;
  text-align: center;
  border: 4px solid black;
}
.gridContainer3 .gridItem3 .imagenMedidas3 {
  width: 350px;
  height: 220px;
  margin: 25px;
}
.gridContainer3 .gridItem3 .titulo3 {
  font-size: 25px;
  margin-top: 10px;
  background-color: black;
  color: #FFFFFF;
}
.gridContainer3 .gridItem3 p {
  font-size: 20px;
  width: 100%;
  margin-top: -15px;
}
.gridContainer3 .gridItem3 a {
  background: black;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 5px;
  text-decoration: none;
}
.gridContainer3 .gridItem3 a:hover {
  background-color: rgb(64, 2, 2);
}

.parrafoInicio {
  font-size: 30px;
  width: 85%;
  margin: auto;
  color: #FFFFFF;
  text-align: center;
  background-color: rgb(64, 2, 2);
  padding: 10px;
}

/* nosotros */
.centrarImagen {
  display: flex;
  justify-content: center;
}
.centrarImagen img {
  width: 420px;
  height: 250px;
  margin-top: 100px;
  border: 3px solid rgb(64, 2, 2);
}

.parrafoConteiner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.parrafoConteiner .sobreNosotros {
  width: 75%;
  font-size: 30px;
  color: #FFFFFF;
  background-color: rgb(64, 2, 2);
  height: auto;
  padding: 10px;
  text-align: center;
}

.imagenTexto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 60px;
}
.imagenTexto .imagenAbajo {
  width: 400px;
  height: auto;
  margin: 0px 120px;
  margin-top: 60px;
  border: 3px solid black;
}

/* sucursales */
.sucursalesConteinerGeneral {
  text-align: center;
  justify-content: center;
  padding: 0px 50px;
  margin-top: 100px;
}
.sucursalesConteinerGeneral .sucursalesConteiner {
  background-color: rgb(64, 2, 2);
  width: 500px;
  height: 215px;
  margin-top: 50px;
  border: solid 5px;
}
.sucursalesConteinerGeneral .sucursalesConteiner h4 {
  background-color: #FFFFFF;
  font-size: 20px;
  color: black;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}
.sucursalesConteinerGeneral .sucursalesConteiner p {
  font-size: 20px;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  color: #FFFFFF;
}

/* novedades */
.imagen {
  width: 400px;
  height: 300px;
  margin: 100px;
  border: solid 10px black;
  display: inline;
  justify-content: center;
}

.txt-1 {
  grid-template-columns: 1 fr 1fr;
  background-color: black;
  color: #FFFFFF;
  width: 400px;
  height: auto;
  margin: -100px 118px;
  border: 10px black solid;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

/* contactos */
.formulario {
  width: 500px;
  background-color: rgb(64, 2, 2);
  padding: 50px;
  margin: auto;
  margin-top: 100px;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  color: #FFFFFF;
  display: block;
  margin-bottom: 100px;
}
.formulario h5 {
  font-size: 30px;
  margin-bottom: 20px;
}
.formulario .control {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 405px;
  border: solid 1px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
.formulario .boton {
  width: 100%;
  border: none;
  background-color: black;
  color: #FFFFFF;
  height: 50px;
  border-radius: 5px;
}
.formulario .consulta {
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: solid 1px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 405px;
  height: 100px;
}

/* inicio */
@media (max-width: 425px) {
  .navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .navBar .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15px;
  }
  .navBar .menu li {
    list-style: none;
  }
  .carousel {
    margin: 0;
    margin-top: -10px;
    margin-bottom: 40px;
    margin-right: 15px;
  }
  .carousel .d-block {
    margin: 0px;
    height: 380px;
    margin-left: 8px;
  }
  .gridContainer {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 500px 10px;
  }
  .gridContainer .gridItem {
    width: 385px;
    margin-left: 10px;
  }
  .gridContainer .gridItem .imagenMedidas {
    width: 330px;
    margin-left: 25px;
  }
  .gridContainer .gridItem p {
    margin-top: -20px;
    padding-bottom: 10px;
  }
  .gridContainer2 {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin: 1210px 10px;
  }
  .gridContainer2 .gridItem2 {
    width: 385px;
    margin-left: 10px;
  }
  .gridContainer2 .gridItem2 .imagenMedidas2 {
    width: 330px;
    margin-left: 25px;
  }
  .gridContainer2 .gridItem2 p {
    margin-top: -20px;
    padding-bottom: 10px;
  }
  .gridContainer3 {
    display: flex;
    flex-direction: column;
    height: 200px;
    /*  margin-top: 100px; */
    margin-left: 10px;
    margin-bottom: 1200px;
  }
  .gridContainer3 .gridItem3 {
    width: 385px;
    margin-left: 10px;
  }
  .gridContainer3 .gridItem3 .imagenMedidas3 {
    width: 330px;
    margin-left: 25px;
  }
  .gridContainer3 .gridItem3 p {
    margin-top: -20px;
    padding-bottom: 10px;
  }
  .parrafoInicio {
    margin-top: -600px;
    font-size: 25px;
    padding: 20px;
    margin-right: 30px;
  }
  .containerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerFooter h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  .containerFooter p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .containerFooter .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footerNav ul a {
    font-size: 20px;
  }
  .containerFooter .footer-redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footer-redes ul a {
    font-size: 20px;
  }
}
/* nosotros */
@media (max-width: 425px) {
  .navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .navBar .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15px;
  }
  .navBar .menu li {
    list-style: none;
  }
  .centrarImagen img {
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 400px;
    height: 220px;
    margin-top: 50px;
  }
  .sobreNosotros {
    font-size: 25px;
    text-align: center;
  }
  .imagenTexto {
    flex-direction: column;
  }
  .imagenTexto .imagenAbajo {
    margin: 0;
    margin-top: 50px;
    width: 400px;
    height: auto;
    margin-left: 13px;
  }
  .containerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerFooter h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  .containerFooter p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .containerFooter .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footerNav ul a {
    font-size: 20px;
  }
  .containerFooter .footer-redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footer-redes ul a {
    font-size: 20px;
  }
}
/* sucursales */
@media (max-width: 425px) {
  .navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .navBar .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15px;
  }
  .navBar .menu li {
    list-style: none;
  }
  .sucursalesConteinerGeneral {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -25px;
  }
  .sucursalesConteinerGeneral .sucursalesConteiner {
    width: 350px;
    margin-top: 75px;
  }
  .containerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerFooter h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  .containerFooter p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .containerFooter .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footerNav ul a {
    font-size: 20px;
  }
  .containerFooter .footer-redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footer-redes ul a {
    font-size: 20px;
  }
}
/* novedades */
@media (max-width: 425px) {
  .navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .navBar .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15px;
  }
  .navBar .menu li {
    list-style: none;
  }
  .container {
    margin-top: 100px;
  }
  .container .imagen {
    width: 200px;
    height: 150px;
    border: 1px black solid;
    margin: 0px;
    width: 90%;
  }
  .container .txt-1 {
    background-color: black;
    width: 200px;
    margin: 0 9px;
    border: 5px black;
    font-size: 20px;
    height: auto;
    width: 90%;
    padding: 10px;
  }
  .imagen {
    width: 200px;
    height: 150px;
    border: 1px black solid;
    margin: 0px;
    width: 90%;
  }
  .txt-1 {
    background-color: black;
    width: 200px;
    margin: 0 9px;
    border: 5px black;
    font-size: 20px;
    height: auto;
    width: 90%;
  }
  .containerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerFooter h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  .containerFooter p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .containerFooter .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footerNav ul a {
    font-size: 20px;
  }
  .containerFooter .footer-redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footer-redes ul a {
    font-size: 20px;
  }
}
/* contacto */
@media (max-width: 425px) {
  .navBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .navBar .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -15px;
  }
  .navBar .menu li {
    list-style: none;
  }
  .formulario {
    width: 350px;
    margin: 37px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .formulario h5 {
    font-size: 20px;
    padding: 0px 10px;
  }
  .formulario .control {
    width: 275px;
    margin-left: -10px;
  }
  .formulario .consulta {
    width: 275px;
    margin-left: -10px;
  }
  .containerFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .containerFooter h3 {
    font-size: 30px;
    justify-content: center;
    display: flex;
  }
  .containerFooter p {
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .containerFooter .footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footerNav ul a {
    font-size: 20px;
  }
  .containerFooter .footer-redes ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 35px;
    list-style: none;
  }
  .containerFooter .footer-redes ul a {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */