@media (max-width:425px) {
    body {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 425px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }



    .navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(64, 2, 2)
    }

    h1 {
        font-size: 45px;
        color: white;
    }

    ul li {
        display: inline-block;
        padding: 15px;
        font-size: 25px;
    }

    ul li a {
        color: white;
    }

    .formulario {
        width: 500px;
        background-color: rgb(64, 2, 2);
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        display: block;
    }

    .formulario h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .control {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 480px;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .formulario .boton {
        width: 100%;
        border: none;
        background-color: black;
        color: beige;
        height: 50px;
        border-radius: 5px;
    }

    .consulta {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        width: 480px;
        height: 100px;
    }

    .containerFooter {
        background-color: rgb(64, 2, 2);
        color: black;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 200px;


    }

    .containerFooter h3 {
        font-size: 40px;
        justify-content: center;
        display: flex;
        color: white;
    }

    .containerFooter p {
        font-size: 25px;
        display: flex;
        color: white;
    }

    .containerFooter a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }





    
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
    }

    .formulario {
        width: 160px;
        margin: 10px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .control {
        width: 155px;
        margin-left: -10px;
    }

    .boton {
        width: 160px;
    }

    #inputBoton {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .consulta {
        width: 160px;
        margin-left: -10px;
    }

    .formulario h5 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .inputFormulario {
        display: flex;
        flex-direction: column;
    }

    #divFormulario {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .containerFooter h3 {
        font-size: 30px;
        justify-content: center;
        display: flex;
    }

    .containerFooter p {
        font-size: 20px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .footerNav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footerNav ul li a {
        font-size: 20px;
    }

    .footer-redes ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer-redes ul li a {
        font-size: 20px;
    }

}

@media (min-width:426px) and (max-width:768px) {

    body {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 768px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }



    .navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(64, 2, 2)
    }

    h1 {
        font-size: 45px;
        color: white;
    }

    ul li {
        display: inline-block;
        padding: 15px;
        font-size: 25px;
    }

    ul li a {
        color: white;
    }







    .formulario {
        width: 500px;
        background-color: rgb(64, 2, 2);
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        display: block;
    }

    .formulario h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .control {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 480px;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .formulario .boton {
        width: 100%;
        border: none;
        background-color: black;
        color: beige;
        height: 50px;
        border-radius: 5px;
    }

    .consulta {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        width: 400px;
        height: 100px;
    }




    .containerFooter {
        background-color: rgb(64, 2, 2);
        color: black;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 200px;


    }

    .containerFooter h3 {
        font-size: 40px;
        /* background */
        justify-content: center;
        display: flex;
        color: white;
    }

    .containerFooter p {
        font-size: 25px;
        display: flex;
        color: white;

    }

    .containerFooter a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }





















    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
    }

    .formulario {
        width: 400px;
        margin: 10px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }



    .control {
        width: 400px;
        margin-left: -10px;
    }

    .boton {
        width: 160px;

    }

    #inputBoton {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .consulta {
        width: 400px;
        margin-left: -10px;
    }

    .formulario h5 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .inputFormulario {
        display: flex;
        flex-direction: column;

    }

    #divFormulario {
        width: 100%;
        display: flex;
        justify-content: center;

    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

@media (min-width:769px) and (max-width:1024px) {

    body {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 1024px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }



    .navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(64, 2, 2)
    }

    h1 {
        font-size: 45px;
        color: white;
    }

    ul li {
        display: inline-block;
        padding: 15px;
        font-size: 25px;
    }

    ul li a {
        color: white;
    }







    .formulario {
        width: 500px;
        background-color: rgb(64, 2, 2);
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        display: block;
    }

    .formulario h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .control {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 480px;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .formulario .boton {
        width: 100%;
        border: none;
        background-color: black;
        color: beige;
        height: 50px;
        border-radius: 5px;
    }

    .consulta {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        width: 400px;
        height: 100px;
    }




    .containerFooter {
        background-color: rgb(64, 2, 2);
        color: black;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 200px;


    }

    .containerFooter h3 {
        font-size: 40px;
        /* background */
        justify-content: center;
        display: flex;
        color: white;
    }

    .containerFooter p {
        font-size: 25px;
        display: flex;
        color: white;

    }

    .containerFooter a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
















    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;



    }

    .menu ul li {
        list-style: none;
    }

    .formulario {
        width: 500px;
        margin: 10px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;


    }



    .control {
        width: 500px;
        margin-left: -10px;
    }

    .boton {
        width: 500px;

    }

    #inputBoton {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .consulta {
        width: 500px;
        margin-left: -10px;
    }

    .formulario h5 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .inputFormulario {
        display: flex;
        flex-direction: column;

    }

    #divFormulario {
        width: 100%;
        display: flex;
        justify-content: center;

    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

@media (min-width:1025px) {
    body {
        background-color: white;
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }



    .navBar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        background-color: rgb(64, 2, 2);
    }

    h1 {
        font-size: 45px;
        color: white;
    }

    ul li {
        display: inline-block;
        padding: 15px;
        font-size: 25px;
    }

    ul li a {
        color: white;
    }







    .formulario {
        width: 500px;
        background-color: rgb(64, 2, 2);
        padding: 50px;
        margin: auto;
        margin-top: 100px;
        border-radius: 5px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        display: block;
    }

    .formulario h5 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .control {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 480px;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }

    .formulario .boton {
        width: 100%;
        border: none;
        background-color: black;
        color: beige;
        height: 50px;
        border-radius: 5px;
    }

    .consulta {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        border: solid 1px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        width: 400px;
        height: 100px;
    }




    .containerFooter {
        background-color: rgb(64, 2, 2);
        color: black;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
    }

    .containerFooter h3 {
        font-size: 40px;
        /* background */
        justify-content: center;
        display: flex;
        color: white;
    }

    .containerFooter p {
        font-size: 25px;
        display: flex;
        color: white;
    }

    .containerFooter a {
        font-size: 25px;
        color: white;
        text-decoration: none;
    }
















    .navBar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .menu ul li {
        list-style: none;
    }

    .formulario {
        width: 500px;
        margin: 10px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    .control {
        width: 500px;
        margin-left: -10px;
    }

    .boton {
        width: 500px;
    }

    #inputBoton {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .consulta {
        width: 500px;
        margin-left: -10px;
    }

    .formulario h5 {
        font-size: 20px;
        padding: 0px 10px;
    }

    .inputFormulario {
        display: flex;
        flex-direction: column;
    }

    #divFormulario {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .containerFooter {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }









}