body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:  rgb(64, 2, 2)
}

h1 {
    font-size: 45px;
    color: white;
}

ul li {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}

ul li a {
    color:white;
}



/* .containerUno {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
} */

.imagen{
    width: 400px;
    height: 300px;
    margin: 100px;
    border: solid 10px black;
}



/* .containerParrafos {
    display: flex;
    justify-content: center;
} */

.txt-1 {
    grid-template-columns: 1 fr 1fr;
    background-color: black;
    color:white;
    width: 400px;
    height: auto;
    margin: -100px 118px;
    border: 10px  black solid;
    font-size: 25px;
    text-align: center;
}

.containerFooter {
    background-color: rgb(64, 2, 2);
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
  }
  
  .containerFooter h3{
    font-size: 40px;
    /* background */
    justify-content: center;
    display: flex;
    color: white;
  }
  
  .containerFooter p {
    font-size: 25px;
    display: flex;
    color: white;
  }
  
  .containerFooter a {
    font-size: 25px;
   color: white;
   text-decoration: none;
}

@media (max-width:425px){
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
    }

    .container {
        margin-top: 100px;
    }

    .row{
    display: flex;
    flex-direction: row;        
    }

    .row{
        display: flex;
        justify-content: space-around;

    }

    .imagen{
        width: 200px;
        height: 150px;
        border: 1px black solid;
        margin: 0px;
        width: 90%;
    }

    .txt-1 {
        background-color: black;
        width: 200px;
        margin: 0 9px;
        border: 5px black;
        font-size: 20px;
        height: auto;
        width: 90%;
    }

    


}