body {
    background-color: white;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}






.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:  rgb(64, 2, 2)
}

h1 {
    font-size: 45px;
    color: white;
}

ul li {
    display: inline-block;
    padding: 15px;
    font-size: 25px;
}

ul li a {
    color: white;
}






.sucursalesConteinerGeneral {
    text-align: center;
    justify-content: center;
    padding: 0px 50px;
    margin-top: 100px;
}

.sucursalesConteiner {
    background-color: rgb(64, 2, 2);
    width: 500px;
    height: 200px;
    margin-top: 50px;
    border: solid 5px;
}

.sucursalesConteiner h4 {
    background-color:white;
    font-size: 20px;
    color: black;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}


.sucursalesConteiner p {
    font-size: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color:black;
    color: white;
}

.containerFooter {
    background-color: rgb(64, 2, 2);
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;

    
  }
  
  .containerFooter h3 {
    font-size: 40px;
    /* background */
    justify-content: center;
    display: flex;
    color: white;
  }
  
  .containerFooter p {
    font-size: 25px;
    display: flex;
    color: white;
    
  }
  
  .containerFooter a {
    font-size: 25px;
   color: white;
   text-decoration: none;
}








@media (max-width:425px) {

    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;

    }

    .sucursalesConteiner {
        width: 350px;
        margin-top: 75px;
    }


    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width:426px) and (max-width:768px) {

    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .sucursalesConteiner {
        width: 400px;
        margin-top: 75px;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}

@media (min-width:769px) and (max-width:1024px) {
    .navBar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .menu ul li {
        list-style: none;
    }

    .sucursalesConteinerGeneral {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .sucursalesConteiner {
        width: 450px;
        margin-top: 75px;
    }

    .containerFooter {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }




}

@media (max-width:1025px) {
    /* .navBar {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        text-align: center;

    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .menu ul li {
        list-style: none;
    }

    .sucursalesConteinerGeneral{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .sucursalesConteiner{
        width: 500px;
        margin-top: 75px;
    }

    .containerFooter {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

 */
}